@import "assets/styles/_functions.scss";

.header {
  $base-font-size: 16px;

  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--white);
  padding: to-rem(10px) 0;
  border-bottom: 1px solid var(--border-color);

  @media (max-width: 1350px) {
    $base-font-size: 25px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger-btn {
    display: none;

    @media (max-width: 768px) {
      display: inline-block;
    }
  }

  &__logo {
    margin-right: to-em($base-font-size, 38px);

    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  &__catalog {
    margin-right: to-em($base-font-size, 15px);

    &-btn {
      @media (max-width: 1100px) {
        display: none;
      }

      &--mobile {
        display: none;

        @media (max-width: 1100px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  &__search-form {
    flex-grow: 1;
    margin-right: to-em($base-font-size, 35px);

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__callcenter-card {
    margin-right: to-em($base-font-size, 25px);

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__pricelist {
    padding: 0 to-em($base-font-size, 25px);
    border-left: 1px dashed var(--border-color);
    border-right: 1px dashed var(--border-color);

    @media (max-width: 768px) {
      display: none;
    }

    &-btn {
      display: inline-block;

      @media (max-width: 1300px) {
        display: none;
      }

      &--mobile {
        display: none;

        @media (max-width: 1300px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__cart-btn {
    margin-left: to-em($base-font-size, 25px);

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}
