@import "assets/styles/_functions.scss";

.input {
  $base-font-size: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: to-rem($base-font-size);
  line-height: 1.5;
  color: var(--black);
  background: #ededed;

  display: inline-block;
  width: 100%;
  border-radius: to-em($base-font-size, 36px);
  padding: to-em($base-font-size, 20px);
  padding-right: to-em($base-font-size, 60px);
  outline: none;
  border: 2px solid transparent;

  transition: all 300ms ease;

  &::placeholder {
    color: var(--gray);
    opacity: 0.6;
  }

  &:focus {
    border: 2px solid var(--accent);
    background: var(--white);
  }
}
